div {
    display: flex;
    filter: brightness(0%);
    animation-name: spark;
    animation-delay: 3.5s;
    animation-duration: 2s;
  }

div img{
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}

body {
   background-color: black; 
   margin: 0;
}

@keyframes spark {
    0%{
        filter: brightness(0%);
    }
    50%{
        filter: brightness(100%);
    }
    100%{
        filter: brightness(0%);
    }
}

#shape{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 14vh;
    width: 23vw;
    cursor: pointer;
    background-color: rgb(210, 215, 215,0);
}

#shape:hover{
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    from{
        background-color: rgb(210, 215, 215, 0);
    }
    to{
        background-color: rgb(210, 215, 215);
    }
}

#text1{
    position: absolute;
    top:17%;
    left:50%;
    transform: translate(-50%,-50%);
    color: rgb(210, 215, 215);
    font-family: "rockwell", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1vw;
    text-decoration: none; 
    width: 50vw;
    height:8vh;
    margin: auto;
    padding-bottom: 2.5vh;
    padding-top: 5vh;
    padding-left: 3vw;
    padding-right: 1vw;
    /* background-color: rgb(178, 178, 178, 0.2); */
}

#text2{
    position: absolute;
    bottom:10%;
    left:50%;
    transform: translate(-50%,0%);
    color: rgb(210, 215, 215);
    font-family: "rockwell", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1vw;
    text-decoration: none; 
    width: 50vw;
    height:9vh;
    margin: auto;
    padding-bottom: 2.5vh;
    padding-top: 4vh;
    padding-left: 3vw;
    padding-right: 1vw; 
    /* background-color: rgb(178, 178, 178, 0.2); */
}

@media screen and (min-width: 480px) {
    #text1{
        font-size: 2.15vw;
    }
    #text2{
        font-size: 2.15vw;
    }
  }

@media screen and (min-width: 600px) {
    #text1{
        font-size: 2.05vw;
    }
    #text2{
        font-size: 2.05vw;
    }
  }

@media screen and (min-width: 700px) {
    #text1{
        font-size: 1.96vw;
    }
    #text2{
        font-size: 1.96vw;
    }
  }

@media screen and (min-width: 800px) {
    #text1{
        font-size: 1.8vw;
    }
    #text2{
        font-size: 1.8vw;
    }
  }

@media screen and (min-width: 900px) {
    #text1{
        font-size: 1.75vw;
    }
    #text2{
        font-size: 1.75vw;
    }
  }

@media screen and (min-width: 1000px) {
    #text1{
        font-size: 1.6vw;
    }
    #text2{
        font-size: 1.6vw;
    }
  }

@media screen and (min-width: 1100px) {
    #text1{
        font-size: 1.52vw;
    }
    #text2{
        font-size: 1.52vw;
    }
  }

  @media screen and (min-width: 1200px) {
    #text1{
        font-size: 1.45vw;
    }
    #text2{
        font-size: 1.45vw;
    }
  }

#rectangle {
    border: none;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
    animation: Zoom 3s;
}

  @keyframes Zoom{
    0%{
        filter: opacity(0);
    }
    70%{
        background-color: rgb(225, 230, 230);
        filter: opacity(1);
        width: 30%;
        height: 30vh;
    }
    90%{
        width: 100%;
        height: 100vh;
        filter: opacity(1);
    }
    100%{
        width: 100%;
        height: 100vh;
        filter: opacity(0);
    }
  }

