div {
    display: flex;
    filter: brightness(0%);
    animation-name: spark;
    animation-delay: 3.5s;
    animation-duration: 2s;
  }

div img{
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}

body {
   background-color: black; 
   margin: 0;
}

@keyframes spark {
    0%{
        filter: brightness(0%);
    }
    50%{
        filter: brightness(100%);
    }
    100%{
        filter: brightness(0%);
    }
}

#text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: rgb(210, 215, 215);
    font-family: "rockwell", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1vw;
    text-decoration: none; 
    width: 25vw;
    height:29vh;
    margin: auto;
    padding-bottom: 2.5vh;
    padding-top: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    cursor: pointer;
    /* background-color: rgb(178, 178, 178, 0.2); */
}

#text:hover{
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    from{
        color: rgb(210, 215, 215);
    }
    to{
        background-color:rgb(210, 215, 215);
        color: black;
    }
}

#shape{
    position: absolute;
    top: 50%;
    left:9.8%;
    transform: translate(0%,-50%);
    border-bottom: 9.5vh solid transparent;
	border-top: 9.5vh solid transparent;
	border-left: 9vw solid rgb(210, 215, 215, 0);
	height: 62vh;
	width: 0vh;
    cursor: pointer;
}

#shape:hover{
    animation: fadeIn2 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn2{
    from{
        border-left: 9vw solid rgb(210, 215, 215, 0);
    }
    to{
        border-left: 9vw solid rgb(210, 215, 215);
    }
}


@media screen and (min-width: 480px) {
    #text{
        font-size: 2.1vw;
    }
  }

@media screen and (min-width: 600px) {
    #text{
        font-size: 2vw;
    }
  }

@media screen and (min-width: 700px) {
    #text{
        font-size: 1.8vw;
    }
  }

@media screen and (min-width: 900px) {
    #text{
        font-size: 1.63vw;
    }
  }

@media screen and (min-width: 950px) {
    #text{
        font-size: 1.61vw;
    }
  }

@media screen and (min-width: 1000px) {
    #text{
        font-size: 1.48vw;
    }
  }

  
@media screen and (min-width: 1200px) {
    #text{
        font-size: 1.45vw;
    }
  }

#rectangle {
    border: none;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
    animation: Zoom 3s;
}

  @keyframes Zoom{
    0%{
        filter: opacity(0);
    }
    70%{
        background-color: rgb(225, 230, 230);
        filter: opacity(1);
        width: 30%;
        height: 30vh;
    }
    90%{
        width: 100%;
        height: 100vh;
        filter: opacity(1);
    }
    100%{
        width: 100%;
        height: 100vh;
        filter: opacity(0);
    }
  }